.no-margin-bottom{
  margin-bottom: 0;
}


.max-height-120 {
  max-height: 120px;
  min-height: 120px;
  overflow: hidden;
}

.center-knob {
  margin: 0 auto;
}

.margin-top-20 {
  margin-top: 20px;
}