
extends  master

include mixins/_soundboard
include mixins/_maincontrol

block content
   //.container
   .row
      .col.s4
         +soundboard('sound1', 'track #01')

      .col.s4
         +maincontrol('main', 'Othrys Controls')

      .col.s4
         +soundboard('sound2', 'track #02')



