include _playerbtn

mixin player
   .player(style={"display" : "none"})
      .no-margin-bottom.row
         .col.s6
            .player-control-group.left-align
               //+playerbtn("player-fast-rewind","fast_rewind")
               +playerbtn("player-pause","pause")
               +playerbtn("player-play","play_arrow")
               //+playerbtn("player-fast-forward","fast_forward")
         .col.s6
            .player-progress-value.right-align
               span.current 0:00
               span &nbsp;/&nbsp;
               span.duration  0:00

         .col.s12
            .progress
               div(style={width : '0%' }).determinate
