include _header
include _hr
include _canvas
include _player
include _dropzone
include _controlpannel

mixin soundboard(parent, name)
   .row
      .col.s12
         div(id= parent).section.grey.darken-3.white-text
            .row.no-pad-bot
               .col.s12.title
                  +header('dashboard', name)
                  +hr
            +canvas(parent)

            +controlpannel(parent)

            +hr
            +player
            +dropzone(parent)


